body {background:url(../img/pattern.png) repeat center 0 #fff;}
.wrapper{background:url(../img/bgLight.png) no-repeat center 0 #222;padding:280px 0 2px; border-bottom: 4px solid rgb(163, 37, 37);}
.comingsoonBlk{background:#f5f5f5; padding:18px 18px 14px; max-width:444px; text-align:center; border:4px solid #fff;margin:0 auto -80px; min-height:150px; box-shadow: 0 0 188px rgb(101, 102, 101);}
.clr{clear:both;}
.comingsoonBlk .email{float:left; width: 70%;}
.comingsoonBlk .subscribe{float:left; width: 30%;}
.comingsoonBlk button, .comingsoonBlk input{width: 92%; padding:11px 4%; border-radius:0 }
.comingsoonBlk h1 {line-height: 60px; margin:0}
.comingsoonBlk p {margin: 0 0 14px;}
.socialMedia{text-align:center; padding-bottom:18px;}
.copyright{padding-top:100px; color:#444; text-align:center}
/* 
.comingsoonBlk {background: rgb(255, 153, 0);color: #fff; border-color:rgb(255, 153, 0);}
.wrapper {border-bottom-color:rgb(255, 153, 0);}

 */
/* 
.comingsoonBlk {background: rgb(109, 109, 109); border-color:rgb(109, 109, 109);color: #fff;}
.wrapper {border-bottom-color:rgb(109, 109, 109);}
 */
.comingsoonBlk {background: #ffffff;color: #000000; border-color:#005580;}
.wrapper {border-bottom-color:#005580;} 
