.front-page {
    text-align: center;
    margin-top: 100px;
}
.front-page span {
    color: #05364A;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
}
* {
    box-sizing: border-box;
    margin: 0;
    outline: medium none;
    padding: 0;
}
h2 {
    color: #222222;
    font-size: 2.2em;
    font-weight: 200;
}
.kkl{
    float:left;
    background-color: blue;
}
.volunteer{
    float:right;
    margin-top: 50px;
}
.volunteer img{
    margin-top:50px;
    margin-bottom: 10px;
}
/*home page end*/
.login {
	width:300px;
	margin:auto;
	margin-top: 150px;
	font-family: arial; 
}
.page-header {
    border-bottom: 1px solid #E0E0E0;
    float: left;
    margin: 0 0 20px;
    padding: 0 0 5px;
    width: 100%;
}
.page-header .icon {
   
    border-radius: 50%;
    display: block;
    float: left;
    height: 42px;
    margin-right: 10px;
    margin-top: 7px;
    padding: 2px;
    text-align: center;
    width: 42px;
}
.page-header .icon span {
    color: #009AD7;
    font-size: 35px;
    line-height: 35px;
}
.page-header h1 {
    color: #4C4C4C;
    display: block;
    float: left;
    font-size: 32px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding: 0;
}
.page-header h1 small {
    color: #666666;
    display: block;
    font-size: 11px;
    line-height: 20px;
}
.form-control {
    border-color: #CCCCCC;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #4C4C4C;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    margin-bottom: 0;
    width: 100%;
    background-color: none;
    background: transparent;
}

.row-form:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.login .row-form {
    padding: 5px 0;
    width: 300px;
}
.login .btn, .btn-group .btn, .btn-group > .btn:first-child, .btn-group > .btn:last-child {
    font-size: 11px;
}
.btn {
    padding: 7px 12px 8px;
}
.login .btn {
    background: none repeat scroll 0 0 #009AD7;
    border: 0 none;
    border-radius: 0;
    color: #F9F9F9 !important;
    margin-bottom: 3px;
    text-shadow: none;
}
/*LONG IN FORM END*/

.navbar-static-side{
	margin:10px 5px;
	box-shadow: 5px;

}
.navbar-static-side {
	width:200px;
}
.navbar-static-side li .parent{
	background-image: url('../img/header.jpg');
	color: white;
	height: 38px;
	

}
.navbar-static-side li .parent:hover{
	background-image: url('../img/box-head1.jpg');
	color: white;
	height: 38px;
	

}
.nav-second-level a{
	font-size:12px;
	height: 30px;
	border-bottom:1px solid #999;
}
/*middle content start*/
