﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ProfileForm.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>गाविसको सर्वेक्षण</title>
    <%--<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/plugins/timeline/timeline.css" rel="stylesheet" type="text/css" />
    <link href="/css/sb-admin.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js" type="text/javascript"></script>
    <script src="/js/plugins/morris/raphael-2.1.0.min.js" type="text/javascript"></script>
    <script src="/js/plugins/morris/morris.js" type="text/javascript"></script>
    <script src="/js/sb-admin.js" type="text/javascript"></script>
    <script src="/js/demo/dashboard-demo.js" type="text/javascript"></script>--%>
    <!-- Core CSS - Include with every page -->
    <link href="/Pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Pages/css/style.css " rel="stylesheet">
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/Pages/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/Pages/css/plugins/timeline/timeline.css" rel="stylesheet">
    <!-- SB Admin CSS - Include with every page -->
    <link href="/Pages/css/sb-admin.css" rel="stylesheet">
    <!--for calander-->
    <!-- Core Scripts - Include with every page -->
    <script src="/Pages/js/jquery-1.10.2.js"></script>
    <script src="/Pages/js/bootstrap.min.js"></script>
    <script src="/Pages/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/Pages/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/Pages/js/plugins/morris/morris.js"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="/Pages/js/sb-admin.js"></script>
    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/Pages/js/demo/dashboard-demo.js"></script>
    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="Body1" runat="server">
    <form id="form1" runat="server">
    <div id="wrapper" clientidmode="Static">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                
                <h3> गाविसको सर्वेक्षण </h3>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right" >
               
                <li>
                    <a href="ChangePassword.aspx">
                        <i class="fa fa-2x fa-user fa-fw"></i>
                        Change Password
                    </a>
                    </li>
                        <li>
                           <asp:LinkButton ID="LinkButton1" runat="server" CssClass="fa fa-sign-out fa-fw" Text="Log Out" OnClick="lbtnLogout_OnClick" Width="100"></asp:LinkButton>
                        </li>
                        
                       
                    <!-- /.dropdown-user -->
                
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                     <li>
                        <a href="Pages/ListApplicants.aspx" class="parent" id="A1" runat="server"><i class="fa fa-dashboard fa-fw"></i> View List</a>
                    </li>
                    <li>
                        <a href="Pages/Info.aspx" class="parent" id="Introduction" runat="server"><i class="fa fa-dashboard fa-fw"></i> Introduction</a>
                    </li>
                    
                    <li>
                       
                        <a href="#" class="parent"><i class="fa fa-edit fa-fw"></i>Sections<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="Section1Introduction.aspx" id="Section1">Section 1</a>
                            </li>
                            <li>
                                <a href="Section2HouseholdInformation.aspx" id="Section2">Section 2</a>
                            </li>
                            <li>
                                <a href="Section3AccessToFacility.aspx" id="Section3">Section 3</a>
                            </li>
                            <li>
                                <a href="Section4LOP.aspx" id="Section4">Section 4</a>
                            </li>
                            <li>
                                <a href="Section5HIE.aspx" id="Section5">Section 5</a>
                            </li>
                            <li>
                                <a href="Section6SocialParticipation.aspx" id="Section6">Section 6</a>
                            </li>
                            <li>
                                <a href="Section7NaturalDisaster.aspx" id="Section7">Section 7</a>
                            </li>
                            <li>
                                <a href="Section8RHM.aspx" id="Section8">Section 8</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    
                    <li>
                        <a href="#" class="parent"><i class="fa fa-edit fa-fw"></i>Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="PopulationDistribution.aspx" id="AD">Population Distribution</a>
                            </li>
                         </ul>
                     </li>

                    <li>
                       <%--<% if (Session["RoleId"].ToString() == "1" && Session["RoleId"].ToString() == "2")
                          { %>--%>
                        <a href="#" class="parent" ><i class="fa fa-edit fa-fw"></i>Add/Edit Items<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="AddAnimal.aspx">Animals</a>
                            </li>
                            <li>
                               <a href="AddCashCrops.aspx">Cash Crop</a>
                            </li>
                             <li>
                               <a href="AddCrops.aspx">Crop</a>
                            </li>
                             <li>
                               <a href="AddDisaster.aspx">Disaster</a>
                            </li>
                             <li>
                               <a href="AddExpenditureName.aspx">Expenditure Name</a>
                            </li>
                             <li>
                               <a href="AddFruit.aspx">Fruit</a>
                            </li>
                             <li>
                               <a href="AddIncomeName.aspx">Income Name</a>
                            </li>
                             <li>
                               <a href="AddOccupation.aspx">Occupation</a>
                            </li>
                             <li>
                               <a href="AddRole.aspx">Role</a>
                            </li>
                             <li>
                               <a href="AddVegitables.aspx">Vegetables</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                   <%--<% } %>--%>
                   
                   
                    
                </ul>
                <!-- /#side-menu -->
           
       
            <!-- /.sidebar-collapse -->
            </div>
        </nav>
        <!-- /.navbar-static-side -->
    </div>
    <div>
        <div id="page-wrapper" class="col-md-offset-1">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>
    </form>
    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>
    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="js/demo/dashboard-demo.js"></script>
</body>
</html>
